/*
Theme Name: Shoper Child
Theme URI: https://www.athemeart.com/downloads/shoper-wordpress-shop-theme-free/
Template: shoper
Author: aThemeArt
Author URI: https://www.athemeart.com/
Description: Shoper theme is a free, beautiful, trendy, and modern WordPress store theme. And to clarify, it's built for multipurpose shops, especially a fashion store, supermarket, electronics, computer parts, beauty, health, jewelry, or any relevant WordPress shop. But, you can also use it for a personal blog, affiliate product review any relevant WordPress shop theme. So, what do you think? Do you need a WordPress shop theme free, which you can make your website shoppable? Ok, before adopting any decision, we love to give you furthermore information about the Shopper theme. Firstly, it provides several different shop front layouts, manageable product columns, and product filters. It also has exceptional typography and color schemes that make your products shoppable. Also, it includes Live Customizer for easy manages your all options. Besides, it's accurately working with Elementor, Beaver Builder, Brizy, Visual Composer, Divi, SiteOrigin, etc. Plus, you have the control to customize the settings for Desktop, Tablet, and Mobiles so, your site looks gorgeous on every device. And the most important thing is it's translation-ready, retina-ready, and WooCommerce compatible. Therefore, you can call this Shoper theme a WooCommerce storefront. Also, this WordPress WooCommerce theme wrap with an extensible codebase. That is the best thing for developers because they can customize and extend very comfortably.
Tags: one-column,two-columns,right-sidebar,left-sidebar,custom-header,custom-menu,full-width-template,theme-options,threaded-comments,featured-images,post-formats,translation-ready,flexible-header,custom-background,footer-widgets,blog,e-commerce,rtl-language-support,custom-logo,featured-image-header,sticky-post
Version: 1.2.5.1623732037
Updated: 2021-06-15 04:40:37

*/
 
header {
    
    color: rgb(85, 163, 252);
    text-align: center;
  }


  